# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
myenv/
venv/
env/

# Database
db.sqlite3

# Environment Variables
.env

# Django static files
staticfiles/

# Media files
media/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# AWS keys
*.pem